* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Inter', Helvetica, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {   
    background: rgba(255,246,235,1);
    background: -moz-linear-gradient(top, rgba(255,246,235,1) 0%, rgba(255,246,235,1) 25%, rgba(177,241,218,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,246,235,1) 0%, rgba(255,246,235,1) 25%, rgba(177,241,218,1) 100%);
    background: -o-linear-gradient(top, rgba(255,246,235,1) 0%, rgba(255,246,235,1) 25%, rgba(177,241,218,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,246,235,1) 0%, rgba(255,246,235,1) 25%, rgba(177,241,218,1) 100%);
    background: linear-gradient(to bottom, rgba(255,246,235,1) 0%, rgba(255,246,235,1) 25%, rgba(177,241,218,1) 100%);
}

body button:focus {
    outline: none;
}

main {
    height: calc(100% - 5rem);
    padding: 1.5rem 1.5rem 0 1.5rem;
    overflow-y: scroll;
}

.new-task {
    height: fit-content;
    padding: 0.8rem 1.3rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    color: white;
    transition: background-color 0.25s ease;
    z-index: 100;
}

.top-inner p {
    padding: 0 1rem 0 0;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 500;
}

h2 {
    color: #1e1e1e;
}

.container {
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    grid-template-rows: auto;
    column-gap: 1.5rem;
    row-gap: 1rem;
    margin: 1.5rem 0;
}

.container div {
    display: grid;
    grid-template-columns: 1fr 2.5rem;
    grid-template-rows: 2rem 1fr 2rem;
    grid-template-areas: 
        "ul complete"
        "ul ."
        "ul delete"
    ;
    border-radius: 0.5rem;
    background-color: white;
}

.container ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 1rem;
    padding: 0;
    grid-area: ul;
}

.container li:nth-child(1) {
    font-size: 1.1rem;
    font-weight: 700;
}

.container li:nth-child(3)::before {
    font-family: "Material Icons";
    font-size: 1rem;
    content: "location_on";
    margin-right: 0.5rem;
    color:  #00c291;
}

.container li:nth-child(4)::before {
    font-family: "Material Icons";
    font-size: 1rem;
    content: "notifications_on";
    margin-right: 0.5rem;
    color:  #00c291;
}

.container li {
    display: flex;
    align-items: center;
    margin: 0.2rem 0;
    font-size: 0.8rem;
    font-weight: 500;
    color: #1e1e1e;
}

.element-button {
    margin: 0;
    font-size: 1.5rem;
}

.complete-button {
    border: none;
    border-radius: 0 0.5rem 0 0;
    color: white;
    background-color:  #00c291;
    grid-area: complete;
}

.delete-button {
    display: flex;
    border: none;
    color: #1e1e1e;
    background-color: transparent;
    grid-area: delete;
}

h1 {
    font-size: 1.2rem;
    color: #1e1e1e;
}

.menu {
    position: relative;
    height: 5rem;
    width: 100%;
    background-color: white;
    z-index: 2000!important;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.06);
}

nav div {
    margin-left: 1.5rem;
}

.menu-inner {
    width: 100%;
    padding: 0 1.5rem;
}

.menu-inner h3 {
    display: none;
    margin-right: 1rem;
}

.menu-inner span {
    font-size: 2.5rem;
}

/* ---- FORM ---- */

.form-container {
    position: absolute;
    display: none;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    top: 0;
    bottom: 5rem;
    right: 0;
    left: 0;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.06);
}

.task-form {
    width: 100%;
    align-self: left;
    position: relative;
}

.task-form div {
    width: 100%;
    margin: 0.5rem 0;
}

.task-form div p {
    font-size: 0.8rem;
    color: #1e1e1e;
    font-style: italic;
}

.task-form input {
    height: 2rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    padding: 0 0.5rem;
    margin-top: 0.5rem;
    background-color: rgb(243, 243, 243);
}

.task-form label {
    font-size: 0.8rem;
    font-weight: 500;
}

.submit {
    height: fit-content;
    padding: 0.8rem 1.3rem;
    margin-top: 0.5rem;
    width: 100%;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    transition: background-color 0.25s ease;
}

.form-inner {
    flex-direction: column;
    margin: 0!important;
}