/* TABLET */
/* min-width: 450px */

.form-inner {
    flex-direction: row;
    width: 100%;
}

.form-inner div {
    width: 47.5%!important;
}

.form-container {
    padding: 5rem 3rem 3rem 3rem;
    left: unset;
    max-width: 100%;
    width: 30rem;
}